<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Acronym.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B6F28EC1C8380C8003BA802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B6F29051C8380C9003BA802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B6F29101C8380C9003BA802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
